.todo-list p {
    font-weight: bold;
    color: white;

    margin: 0;
}

.todo-list div {
    display: flex;
    justify-content: space-between;
}
.todo-list div select {
    border: none;
    border-radius: 5px;
}

.todo-list div select option {
    background-color: white;
}