.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em 0;
}

.header__link {
    text-decoration: none;
    color: black;
}

.btn-theme button {
    border: none;
    background: none;
}

.navigation {
    display: flex;
    gap: 1em;
    font-weight: bold;
}
