.handle-theme-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.handle-theme-todo-page--pink {
  background-color: #BA4849;
}

.handle-theme-todo-page--dark {
  background-color: black;
}
